@import "variables.styl"
@import "mixins.styl"

// Global Styles
*
    margin 0
    padding 0

html, body
    background-color gray
    font-family Ubuntu
    margin 0
    padding 0
    width 100%

//Fonts
@font-face
    font-family 'Ubuntu'
    src
        local('Ubuntu')

@font-face
    font-family Ubuntu

@font-face
    font-family OpenSans

// Wrappers
.container
    background gray-light
    width 100%

header
    background gray-dark
    height 6em
    padding 1em
    h2
        font-size 2em
        margin-bottom 1em
    button#show-popup-chart
        display inline-block
        float left
        width 10em
        height 2em
        border-radius .2em
        background-color color-btn
        border none
        font-weight bold
        &hover
            background-color color-btn-hover
    .search-box
        display inline-block
        float right
        input
            width 20em
            height 2em
            padding-left 1em
            background-color #ddd
            border-radius .2em
            border none
            font-weight bold

.user-list
    background gray-light
    padding 1em
    width 100%
    display block
    padding 0
    .title
        display flex
        justify-content space-between
        font-weight bold
        height 2em
        font-family 'Ubuntu'
        margin 1em
        div
            width auto
    .content
        margin 1em
        div.user

            .user-short
                display flex
                align-items center
                .avatar
                    width 4em
                    margin 0 1em
                    img
                        border-radius 50%
                        border .2em solid #fff
                .user-text
                    display flex
                    justify-content space-between
                    width 100%
                    div
                        display flex
                        float left
                        width auto
                        margin auto
                    .icon
                        margin 0 1em
                        width 2em
                        height 2em

            .user-full
                color #555
                .user-full-header
                    display block
                    margin-left 5%
                    h1
                        display inline-block
                    img
                        display inline-block
                        width 2em
                        height 2em
                .user-full-content
                    display block
                    div
                        display inline-block
                        width 20%
                        margin-left 5%
                        justify-content space-between
                        align-items center
                        vertical-align top
                        line-height 2em
                        div
                            margin 0
                            display block
                            width 100%
                            span.bold
                                font-weight 900
                    .avatar
                        img
                            border-radius 50%
                            border .2em solid #fff

        div.bg-gray
            background gray

.popup-chart
    display flex
    flex-direction column
    align-items center
    position fixed
    top 15em
    left 33%
    z-index 1000
    width 32em
    height 32em
    background color-chart
    border-radius 2em
    font-family 'Ubuntu'
    .close-icon
        position absolute
        right 2em
        top 2em
        width 1em
        height 1em
        cursor pointer
    .chart
        width 24em
        height 24em
        user-select none
        margin 1em 2em
    h1
        margin-top 1em

#overflow
    display none
    position fixed
    left 0
    top 0
    z-index 900
    background overflow
    width 100%
    height 100%



footer
    display block
    background gray
    left 0
    bottom 0
    width 100%
    height 2em
    padding 1.5em 0
    div
        margin 0 2em
        display block
        font-family Ubuntu
