// Variables

gray-dark = lighten(#000,33%)
gray = lighten(#000, 66%)
gray-light = lighten(#000, 80%)
overflow = rgba(0, 0, 0, .3)
color-chart = rgba(255, 255, 255, .9)
color-btn-hover = darken(#ccc, 20%)
color-btn = #ccc
